extends layout

block content
  div#panel
    body
    h1 Oups !
    h2.codeError= status != undefined ? "Erreur " + status : ''
      span.panelError= "La page que vous recherchez n'a pas été trouvée."
    nav
      a#panelButton.error(href='/' title="Retourner à la page d'accueil")
        i(class="fas fa-home")
    footer PokeAPI <span style="font-family: Arial;font-weight: bold;">&copy; </span><a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianlcz</a>