extends layout

block content
  div#panel
    body
    h1 Oups !
    h2.codeError= "Erreur " + status
      span.panelError= "La page que vous recherchez n'a pas été trouvée."
    nav
      a#panelButton(href='/') Retourner à la page d'accueil
    footer Copyright <span style="font-family: Arial;font-weight: bold;">&copy;</span><script>document.write(' ' + new Date().getFullYear() + ` <a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianDev</a>`)</script>