extends layout

block content
  div#panel
    h1 Bienvenue sur PokeAPI
    nav
      a#panelButton(href='/pokemons') Ouvrir le Pokédex
      a#panelButton(href='/login') Espace Dresseur
    footer Copyright <span style="font-family: Arial;font-weight: bold;">&copy;</span><script>document.write(' ' + new Date().getFullYear() + ` <a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianDev</a>`)</script>