extends layout

block content
  div(id='panel')
    h1 Bienvenue sur PokeAPI
    nav
      a(href='./pokemons' id='panelButton') Ouvrir le Pokédex
      a(href='./users' id='panelButton') Espace Dresseur
    footer Copyright <span style="font-family: Arial;font-weight: bold;">&copy;</span><script>document.write(' ' + new Date().getFullYear() + ` <a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianDev</a>`)</script>