doctype html
html(lang='fr')
  head
    if title
      title= title + " | PokeAPI"
    else
      title="PokeAPI"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no')
  body
    block content
  if panel !== true
    footer PokeAPI <span style="font-family: Arial;font-weight: bold;">&copy; </span><a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianlcz</a>