extends ../layout

block content
  div#panel
    h1 Connexion
    form(action='/login', method='POST')
      div#formPanel
        .form-group
          label(for='mail') Adresse mail
          input.form-control(type='email', name='mail', placeholder="Entrez votre adresse mail")
        .form-group
          label(for='password') Mot de passe
          input.form-control(type='password', name='password', placeholder="Entrez votre mot de passe")
      div#linkPanel
        a(href="./register") Je n'ai pas de compte
      input.btn.btn-default(type='submit', value='Je me connecte')
    footer Copyright <span style="font-family: Arial;font-weight: bold;">&copy;</span><script>document.write(' ' + new Date().getFullYear() + ` <a href="https://github.com/ianlcz" title="https://github.com/ianlcz" target="_blank">ianDev</a>`)</script>