@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Righteous;
  src: local("Righteous"), url("../fonts/Righteous/Righteous-Regular.ttf");
}

:root {
  --font-color: #0f3f83;
  --background-color: radial-gradient(#114da1, var(--font-color)) no-repeat;
  --button-background-color: linear-gradient(24deg, var(--font-color), #1864cf);
  --shadow-color: #282c34a2;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--background-color);
  color: white;
  font-family: "Montserrat";
}

#panel {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  /* poussé de la moitié de hauteur de viewport */
  left: 50%;
  transform: translate(-50%, -50%);
  /* tiré de la moitié de sa propre hauteur */
  width: 40%;
  border-radius: 20px;
  background: white;
  color: var(--font-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
h2.codeError {
  margin: 2em 0 1.4em 0;
  font-size: medium;
  text-align: center;
}
span.panelError {
  margin-left: 0.6em;
  font-weight: normal;
}
a#panelButton:link {
  margin: 0 auto;
  padding: 0.4em 1em;
  text-decoration: none;
  width: fit-content;
}
a#panelButton:hover {
  background: var(--button-background-color);
  color: white;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px var(--shadow-color);
}
#panel footer {
  color: inherit;
  margin: 2.6% auto 0.2% auto;
}
#panel a {
  margin: inherit;
  color: inherit;
  font-weight: inherit;
}
div#linkPanel a {
  display: block;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  color: #1864cf;
  font-size: small;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

nav,
#panel nav {
  display: flex;
  margin: 2% auto;
  width: 74%;
}
nav {
  width: 70%;
  justify-content: space-evenly;
}
nav a:link {
  margin: 0;
  padding: 0.5em 2em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  background: white;
  color: var(--font-color);
  border-radius: 20px;
  font-weight: bold;
  box-shadow: inherit;
}
#panel nav {
  justify-content: space-around;
}

table {
  margin: 2em auto;
  padding: 2%;
  border-radius: 20px;
  background: white;
  color: var(--font-color);
  box-shadow: 0px 0px 10px var(--shadow-color);
}
table#pokedex,
table#generations {
  width: 70%;
}
table#types {
  width: 90%;
}
th {
  margin-bottom: 1em;
}
td {
  text-align: center;
}
td img.picturePokemon {
  width: 40px;
}
td img.pictureType {
  vertical-align: middle;
  width: 68px;
  border-radius: 4px;
}

td a {
  color: inherit;
  font-weight: bold;
}
td a:hover {
  padding: 0 4%;
  color: white;
  border-radius: 10px;
  background: var(--button-background-color);
  box-shadow: 0px 0px 2px var(--shadow-color);
  text-decoration: none;
}
#generations td a {
  padding: 0 4%;
}
#generations td a:hover {
  font-weight: bold;
}
td ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
span.ISO_639_1 {
  margin-left: 8px;
  font-size: smaller;
  font-weight: bold;
  border-radius: 100%;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#pokemon_show {
  display: flex;
  height: 86vh;
}
section {
  padding: 2em;
  width: 100%;
}
article {
  padding: 1em;
  height: 100%;
  background: white;
  color: var(--font-color);
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}
article h2 {
  font-size: large;
  text-align: center;
}
article h2 p {
  margin: 1.4em 0;
  font-size: medium;
  font-weight: normal;
  text-align: center;
}
article h2 p span#categoryPokemon {
  font-weight: bold;
}

#pokemon_show h1,
#pokemon_show h1 div {
  display: flex;
  flex-direction: column;
}
#pokemon_show h1 div {
  margin-top: 0.4em;
}
#pokemon_show h1 div span.otherName {
  font-size: 62%;
  font-weight: normal;
}
#pokemon_show img {
  position: absolute;
  top: 50%;
  /* poussé de la moitié de hauteur de viewport */
  left: 50%;
  transform: translate(-50%, -50%);
  /* tiré de la moitié de sa propre hauteur */
  width: 30%;
}

div.namePokemonGroup {
  display: flex;
  justify-content: space-around;
}

#panel.form {
  width: 60%;
}
div#formPanel {
  display: flex;
  margin: 1.6em auto;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}
div#formPanel.register {
  margin: 0;
  flex-direction: column;
}
div#formPanel.register div#formPanel {
  margin-bottom: 1.6em;
}
.form-group {
  display: flex;
  flex-direction: column;
}
form.form-group {
  margin: 0;
  padding: 0;
}
label {
  margin-bottom: 0.4em;
  font-weight: bold;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.6em 1em;
}
input {
  margin: 0 auto;
  font-family: "Montserrat";
  color: #1864cf;
  border-radius: 20px;
  border: transparent;
  box-shadow: inset 0px 0px 4px var(--shadow-color);
}
::placeholder {
  color: #1864cf;
  font-weight: bold;
  opacity: 0.6;
  text-align: center;
}
input[type="submit"] {
  display: block;
  padding: 0.6em 1.2em;
  background: var(--button-background-color);
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #1864cf;
  box-shadow: 0px 0px 4px var(--shadow-color);
}

footer {
  margin: 0 auto;
  padding-bottom: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Righteous";
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  #panel,
  table#pokedex {
    width: 90%;
  }
}
